{{#if enabled}}
    <div class="modal-fog">
        <div class="modal-frame">
            <div class="modal-title">
                {{title}}
            </div>
            <div class="modal-body">
                {{yield}}
            </div>
        </div>
    </div>
{{/if}}
