<div class="landing-centered-wrapper">
  <div class="large-12 columns" id="hero-copy">
    <h2>{{t "main.step2.title"}}</h2>
  </div>
  {{#each rangeOfInputs as |i|}}
    {{#host-info number=i model=model onConfirm=(action "addhost")}}
    {{/host-info}}
  {{/each}}
  <button class="button" {{action 'verification'}}>Done</button>

  <h2>Spell Ingredients </h2>

  {{#stagger-set inDirection="right" inEffect="slideAndFade"}}

    {{#each potions as |potion|}}
      <li>{{potion.name}}</li>
    {{/each}}

  {{/stagger-set}}

</div>
